*  {
 border: 1px solid green;
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.game-area {
    display: column;
    flex-direction: column;
    width: 60%;
}

.user-input {
    display: flex;
    flex-direction: column;
}

.game-play {
    display: flex;
    flex-direction: row;
}

h1 {
    color: red;
}

h2 {
    color: green;
}

h3 {
    color: blue;
}

.icon {
    font-size: 40px;
}

/* .select-game {

} */

.cursor {
    cursor: pointer;
}

.fighter {
    height: 50px;
    width: 50px;
}

.fighter-avatar {
    height: 25px;
    width: 25px;
}

.mini-icon {
  font-size: 20px;
}

.change-game-button {
    border: 0
}

.hidden {
    display: none;
  }