*  {
 font-family: 'Poppins', sans-serif;
 /* border: #06d6a0 solid 1px; */
}

.container{
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    font-weight: 500;
    font-size: larger;
    color: white;
}

.scoreboard1 {
    /* background-color:linear-gradient(to-right, #ef476f, #ffd166); */
    background-image: linear-gradient(to right, #ef476f , #ffd166);

}

.scoreboard2 {
    /* background-color:linear-gradient(to-right, #ef476f, #ffd166); */
    background-image: linear-gradient(to left, #ef476f , #ffd166);

}

.score {
    margin-top: 20px;
}

.game-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #ffd166;
}

.user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%
    
}

.game-play {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 30%;
    width: 90%;

}

h1 {
    color: #118ab2;
    text-align: center;
}

h2 {
    color: #118ab2;
    text-align: center;
}

h3 {
    color: #06d6a0;
    margin-bottom: 1px;
}

#hardTitle {
    color: #c1121f
}

p {
    margin: 0
}

.icon {
    font-size: 60px;
}

.select-game {
 width: 100%;
 text-align: center;
 background-color: white;
 border: 3px solid #118ab2;
 margin: 5px;
 border-radius: 10px;
}

.cursor {
    cursor: pointer;
}

.fighter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 120px;
    margin: 10px
}

.fighter-avatar {
    height: 90%;
    width: 90%;
}

.mini-icon {
  font-size: 20px;
}

.change-game-button {
    border: 0

}

.hidden {
    display: none;
  }

  
.parent>* {
    background-color: transparent;
    background-image: url();
}

.hard {
    background-image: url("assets/temple.jpeg");
}